{{ example_output }}

This is the image of folio 8r:
<image_url>data:image/jpeg;base64,{{ image_data_1 }}</image_url>

The following is the image of folio 8v. This is the attempt from Transkribus to transcribe the text from the image. Note that it can be incorrect, but still be helpful for the transcription.
### Transkribus Start ###
{{ transkribus_text }}
### Transkribus End ###
Think step by step when you are doing the transcription. You must not hallucinate.

<image_url>data:image/jpeg;base64,{{ image_data_2 }}</image_url>