# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python-related files
__pycache__/
*.py[cod]
*.so

# Ignore virtual environments
venv/
env/
.env

# Ignore IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore log files
*.log

# Ignore compiled files
*.com
*.class
*.dll
*.exe
*.o
*.out

# Ignore package files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Ignore database files
*.db
*.sqlite3

# Ignore backup files
*~
*.bak
*.swp


# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore node modules
node_modules/

# Ignore build directories
build/
dist/

# Ignore coverage reports
htmlcov/
.coverage
.coverage.*
.cache

# Ignore temporary files
*.tmp
*.temp
